.node-contents-w {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid var(--rf-node-border);
    cursor: pointer;
    transition: all .1s ease-in-out;

    &.parent-node {
        border: 1.5px dashed var(--rf-node-border-hover);
        color: var(--key-color) !important;

        &:hover {
            border: 2px solid var(--rf-node-border-hover);
        }
    }

    &:hover {
        border: 1.5px solid var(--rf-node-border-hover);
    }

}

.node-contents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text) !important;
}

.v-n-obj {
    align-items: start;
}

.v-node {
    stroke: transparent !important;
    fill: var(--rf-node-bg) !important;
}




.v-n-key {
    // font-style: italic;
    color: var(--key-color);
    font-size: 18px;
}

.v-n-separator {
    color: var(--key-color);
    margin-right: 0px;
}

// .v-n-string {
//     color: rgb(246, 188, 121);
// }

.v-n-number {
    // color: rgb(0, 255, 136);
    font-weight: 200;
}

.v-n-boolean {
    color: rgb(157, 170, 203);
    background: var(--rf-node-border);
    border-radius: 3px;
    padding: 0px 10px;

    .actual-content {
        transform: translate(0px, -1px);
        display: inline-block;
        font-style: italic;
    }
}

// .v-n-null {}

.v-n-value {
    font-size: 16px;
}

.obj-p {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2px 0;
    overflow: hidden;
    max-width: 580px;
}

.parent-node {
    .node-contents {
        .v-n-string {
            color: var(--key-color) !important;
            font-weight: 500;
        }
    }
}