$top-bar-height: 45px;

.v-layout-w {
    height: 100vh;
    width: 100vw;
}

.v-top-bar {
    height: $top-bar-height;
    width: 100vw;
    background-color: var(--bg-secondary);
}

.v-main-content {
    height: calc(100vh - $top-bar-height);
    display: flex;
}

$editor-section-w: 25vw;

.v-editor-section {
    width: $editor-section-w;
    background-color: var(--bg-color-2);
    overflow: auto;
}

.v-visualize-section {
    width: calc(100vw - $editor-section-w);
    height: calc(100vh - $top-bar-height);
    background-color: var(--rf-canvas-w-bg);
    overflow: auto;
    position: relative;
}