$top-bar-height: 45px;

.v-layout-w {
    height: 100vh;
    width: 100vw;
}

.v-top-bar {
    height: $top-bar-height;
    width: 100vw;
    background-color: var(--bg-secondary);
}

.v-main-content {
    height: calc(100vh - $top-bar-height);
    display: flex;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        overflow-y: scroll;
    }
}

$editor-section-w: 25vw;

.v-editor-section {
    width: $editor-section-w;
    background-color: var(--bg-color-2);
    overflow: auto;

    @media only screen and (max-width: 768px) {
        width: 100%;
        height: 35%;
    }
}

.v-visualize-section {
    width: calc(100vw - $editor-section-w);
    height: calc(100vh - $top-bar-height);
    background-color: var(--rf-canvas-w-bg);
    overflow: auto;
    position: relative;


}

.v-editor-section,
.v-visualize-section {
    @media only screen and (max-width: 768px) {
        width: 100%;
        height: 65%;
    }
}