* {
    box-sizing: border-box;
}

.compare-w {
    height: 100vh;
    width: 100vw;
}

.top-bar {
    height: var(--compare-top-bar-height);
    background-color: var(--bg-secondary);
    display: flex;

    .top-right,
    .top-left {
        width: 50%;
        display: flex;
        padding: 0 10px;
        column-gap: 10px;
        align-items: center;
    }

    .top-right {
        justify-content: end;
    }

    .top-left {
        font-size: 13px;

    }
}

.editor-top {
    background-color: var(--bg-secondary);
    height: 25px;

}

.editors-w {
    height: calc(100% - (var(--compare-top-bar-height) * 1));
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: var(--bg-color-2);
}


.logo {
    margin-left: 0px;

    img {
        margin-top: 10px;
        height: 25px;
        width: 25px;
    }
}

.title-text {
    margin-left: -5px;
    color: var(--text);
}

.home-link {
    color: var(--text);
    text-decoration: none;
}

.home-link {
    font-weight: bold;

}

.gt {
    color: var(--bredcrumb-chevron);
    translate: 0px 2px;
}