$rt-color: rgb(232, 155, 11);

.anouncement-w {
    z-index: 10000;
    transition: all .8s ease;

    &.sa-hidden {
        top: -60px;
    }

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: max-content;
    left: calc(50% - 130px);
    top: 8px;

    .content {
        background-color: rgba(0, 0, 0, 0.758);
        padding: 6px 20px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 6px;
    }

    .close-an {
        margin-left: 50px;
        text-decoration: underline;
        color: $rt-color;
        cursor: pointer;
    }

    .rt {
        color: $rt-color;
    }


}