:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(29, 29, 29);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    //   App Colors

    // ---- DARK
    --compare-top-bar-height: 45px;


    // constant colors
    //  monaco constants
    --insert-line-color: #76d561;
    --insert-char-color: #76d561;
    --delete-line-color: #ac92ec;
    --delete-char-color: #ac92ec;

}

// ---- LIGHT
[data-theme="light"] {
    --bg-color: rgb(255, 255, 255);
    --bg-color-2: rgb(236, 236, 236);
    --bg-secondary: rgb(250, 250, 250);
    --text: black;

    --home-bg: linear-gradient(180deg, #ededed 0%, #f7f6f6 200%);
    --home-bg: linear-gradient(180deg, #f7f6f6 0%, #f9f9f9 200%);
    --home-h-color: linear-gradient(64deg,
            rgb(76, 169, 240) 0%,
            rgb(246, 73, 139) 100%);
    --nav-text: black;
    --nav-bg: rgb(255, 255, 255);
    --thubmnail-border: rgb(203, 203, 203);

    --button-bg: rgb(235, 235, 235);
    --button-text: black;
    --lang-select-opt-bg: rgba(143, 93, 182, .7);

    --bredcrumb-chevron: rgb(166, 166, 166);

    --edtr-line-number-color: black;

    // REAFLOW 
    --rf-canvas-w-bg: rgb(242, 242, 242);
    --arrow-line: rgb(129, 129, 129);
    --rf-node-bg: rgb(255, 255, 255);
    --rf-node-border: rgb(221, 221, 221);
    --rf-node-border-hover: rgb(152, 152, 152);
}

// ---- DARK
[data-theme="dark"] {
    --bg-color: rgb(20, 20, 20);
    --bg-color-2: rgb(27, 27, 27);
    --bg-secondary: rgb(35, 35, 35);
    --text: white;

    --home-bg: linear-gradient(180deg, #1d1d1d 0%, #0f0f0f 200%);
    --home-h-color: linear-gradient(64deg,
            rgb(117, 195, 255) 0%,
            rgb(255, 92, 154) 100%);
    --nav-bg: rgb(19, 19, 19);
    --nav-text: white;
    --thubmnail-border: rgb(41, 41, 41);

    --button-bg: rgb(29, 29, 29);
    --button-text: rgb(219, 219, 219);
    --lang-select-opt-bg: rgba(143, 93, 182, 0.7);

    --bredcrumb-chevron: rgb(166, 166, 166);
    --edtr-line-number-color: white;

    // REAFLOW 
    --rf-canvas-w-bg: rgb(24, 24, 24);
    --arrow-line: rgb(106, 106, 106);
    --rf-node-bg: rgb(32, 32, 32);
    --rf-node-border: rgb(45, 45, 45);
    --rf-node-border-hover: rgb(152, 152, 152);
}

body {
    margin: 0;
    padding: 0;
}