.nav-bar {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
}

.main-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 15vh 50px;
    background: var(--home-bg);
    // background: var(--bg-color);
}

.h-subtitle {
    font-size: 16px;
    margin-top: 10px;
    color: var(--text);
}

.animate-gradient-text {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: var(--home-h-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animated-gradient 5s ease-in-out infinite;
    font-weight: 700;
    font-size: 60px;
    font-family: "Inter-Bold", "Inter", sans-serif;
    letter-spacing: -2.4px;
    line-height: 1.2em;
}

@keyframes animated-gradient {

    0%,
    100% {
        background-position: 40% 50%;
    }
}

.footer {
    height: 200px;
}